## QUESTION 1

In [9]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def scrape(link, class_):
    headers = []
    page = requests.get(link)
    soup = BeautifulSoup(page.content, 'html.parser')
    header_tags = soup.find_all(class_=class_)

    for i in range(1, 7):
        header_tag = f'h{i}'
        for header in soup.find_all(header_tag):
            headers.append({'Header': header_tag, 'Text': header.get_text(strip=True)})
    
    df = pd.DataFrame(headers)
    return df

df = scrape('https://wikipedia.org', 'restnt-info cursor')
print(df) 
df

  Header                            Text
0     h1  WikipediaThe Free Encyclopedia
1     h2              1,000,000+articles
2     h2                100,000+articles
3     h2                 10,000+articles
4     h2                  1,000+articles
5     h2                    100+articles
6     h3             ウィキペディアは売り物ではありません。

  Header                            Text
0     h1  WikipediaThe Free Encyclopedia
1     h2              1,000,000+articles
2     h2                100,000+articles
3     h2                 10,000+articles
4     h2                  1,000+articles
5     h2                    100+articles
6     h3             ウィキペディアは売り物ではありません。

## QUESTION 2

In [25]:
# import requests
# from bs4 import BeautifulSoup
# import pandas as pd

# # Define headers with a User-Agent
# headers = {
#     'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
# }

# # Make the request with headers
# page = requests.get('https://www.imdb.com/chart/top/', headers=headers)

# # Check if the request was successful
# if page.status_code == 200:
#     soup = BeautifulSoup(page.content, 'html.parser')
#     # Now you can parse the HTML content with BeautifulSoup
#     # Example: print the title of the webpage
#     print(soup.title)
# else:
#     print("Failed to retrieve the page")


# titles = []
# title_elements = soup.find_all('h3', class_='ipc-title__text')

# for title in title_elements[:50]:
#     titles.append(title.text.strip())


# years = []
# year_elements = soup.find_all('span', class_='sc-b189961a-8 kLaxqf cli-title-metadata-item')

# for year in year_elements[:50]:
#     years.append(year.text.strip()) 



# ratings = soup.find_all('span', class_='sc-b189961a-1 kcfvgk')

# ratings = []
# rating_elements = soup.find_all('span', class_='sc-b189961a-1 kcfvgk')

# for rating in rating_elements[:50]:
#     ratings.append(rating.text)

# min_length = min(len(titles), len(years), len(ratings))
# titles = titles[:min_length]
# years = years[:min_length]
# ratings = ratings[:min_length]

# # Create DataFrame
# df = pd.DataFrame({
#     'Title': titles,
#     'Year': years,
#     'Rating': ratings
# })

# # Print DataFrame
# print(df)
# df


import requests
from bs4 import BeautifulSoup
import pandas as pd

def scrape_top_imdb_data(url):
    # Define headers with a User-Agent
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 '
                      '(KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
    }

    # Make the request with headers
    page = requests.get(url, headers=headers)

    # Check if the request was successful
    if page.status_code == 200:
        soup = BeautifulSoup(page.content, 'html.parser')

        # Extract titles
        titles = []
        title_elements = soup.find_all('h3', class_='ipc-title__text')
        for title in title_elements[:50]:
            titles.append(title.text.strip())

        # Extract years
        years = []
        year_elements = soup.find_all('span', class_='sc-b189961a-8 kLaxqf cli-title-metadata-item')
        for year in year_elements[:50]:
            years.append(year.text.strip())

        # Extract ratings
        ratings = []
        rating_elements = soup.find_all('span', class_='sc-b189961a-1 kcfvgk')
        for rating in rating_elements[:50]:
            ratings.append(rating.text.strip())

        # Ensure all lists are the same length
        min_length = min(len(titles), len(years), len(ratings))
        titles = titles[:min_length]
        years = years[:min_length]
        ratings = ratings[:min_length]

        # Create DataFrame
        df = pd.DataFrame({
            'Title': titles,
            'Year': years,
            'Rating': ratings
        })

        return df

    else:
        print(f"Failed to retrieve the page. Status code: {page.status_code}")
        return None

# Example usage:
url = 'https://www.imdb.com/chart/top/'
top_imdb_df = scrape_top_imdb_data(url)
if top_imdb_df is not None:
    print(top_imdb_df)

top_imdb_df

                                                Title    Year          Rating
0                                         IMDb Charts    1994  9.3 (2.9M)Rate
1                         1. The Shawshank Redemption  2h 22m    9.2 (2M)Rate
2                                    2. The Godfather       A  9.0 (2.9M)Rate
3                                  3. The Dark Knight    1972  9.0 (1.4M)Rate
4                           4. The Godfather: Part II  2h 55m  9.0 (872K)Rate
5                                     5. 12 Angry Men       A  9.0 (1.5M)Rate
6                                 6. Schindler's List    2008    9.0 (2M)Rate
7    7. The Lord of the Rings: The Return of the King  2h 32m  8.9 (2.2M)Rate
8                                     8. Pulp Fiction      UA    8.9 (2M)Rate
9   9. The Lord of the Rings: The Fellowship of th...    1974  8.8 (816K)Rate
10                10. Il Buono, Il Brutto, Il Cattivo  3h 22m  8.8 (2.3M)Rate
11                                   11. Forrest Gump       A  8.8 (1.8M)Rate
12          12. The Lord of the Rings: The Two Towers    1957  8.8 (2.3M)Rate
13                                     13. Fight Club  1h 36m  8.8 (2.6M)Rate
14                                      14. Inception       U  8.7 (1.4M)Rate
15  15. Star Wars: Episode V - The Empire Strikes ...    1993  8.7 (2.1M)Rate
16                                     16. The Matrix  3h 15m  8.7 (1.3M)Rate
17                                     17. GoodFellas       A  8.7 (1.1M)Rate
18                18. One Flew Over the Cuckoo's Nest    2003  8.6 (1.8M)Rate
19                                          19. Se7en  3h 21m  8.7 (2.1M)Rate
20                                   20. Interstellar       U  8.6 (502K)Rate
21                          21. It's a Wonderful Life    1994  8.6 (369K)Rate
22                           22. Shichinin No Samurai  2h 34m  8.6 (1.6M)Rate
23                       23. The Silence of the Lambs       A  8.6 (1.5M)Rate
24                            24. Saving Private Ryan    2001  8.6 (805K)Rate

                                                Title    Year          Rating
0                                         IMDb Charts    1994  9.3 (2.9M)Rate
1                         1. The Shawshank Redemption  2h 22m    9.2 (2M)Rate
2                                    2. The Godfather       A  9.0 (2.9M)Rate
3                                  3. The Dark Knight    1972  9.0 (1.4M)Rate
4                           4. The Godfather: Part II  2h 55m  9.0 (872K)Rate
5                                     5. 12 Angry Men       A  9.0 (1.5M)Rate
6                                 6. Schindler's List    2008    9.0 (2M)Rate
7    7. The Lord of the Rings: The Return of the King  2h 32m  8.9 (2.2M)Rate
8                                     8. Pulp Fiction      UA    8.9 (2M)Rate
9   9. The Lord of the Rings: The Fellowship of th...    1974  8.8 (816K)Rate
10                10. Il Buono, Il Brutto, Il Cattivo  3h 22m  8.8 (2.3M)Rate
11                                   11. Forrest Gump       A  8.8 (1.8M)Rate
12          12. The Lord of the Rings: The Two Towers    1957  8.8 (2.3M)Rate
13                                     13. Fight Club  1h 36m  8.8 (2.6M)Rate
14                                      14. Inception       U  8.7 (1.4M)Rate
15  15. Star Wars: Episode V - The Empire Strikes ...    1993  8.7 (2.1M)Rate
16                                     16. The Matrix  3h 15m  8.7 (1.3M)Rate
17                                     17. GoodFellas       A  8.7 (1.1M)Rate
18                18. One Flew Over the Cuckoo's Nest    2003  8.6 (1.8M)Rate
19                                          19. Se7en  3h 21m  8.7 (2.1M)Rate
20                                   20. Interstellar       U  8.6 (502K)Rate
21                          21. It's a Wonderful Life    1994  8.6 (369K)Rate
22                           22. Shichinin No Samurai  2h 34m  8.6 (1.6M)Rate
23                       23. The Silence of the Lambs       A  8.6 (1.5M)Rate
24                            24. Saving Private Ryan    2001  8.6 (805K)Rate

## QUESTION 3

In [26]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Define headers with a User-Agent
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# Make the request with headers
page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/', headers=headers)

# Check if the request was successful
if page.status_code == 200:
    soup = BeautifulSoup(page.content, 'html.parser')
    # Find all span elements with class 'sc-551fcf62-4 iYlNDF'
    title_elements = soup.find_all('span', class_='sc-551fcf62-4 iYlNDF')

    # Extract titles from title elements
    titles = [title.text.strip() for title in title_elements[:50]]

else:
    print("Failed to retrieve the page")

rating = soup.find_all('span', class_='ipc-rating-star ipc-rating-star--base ipc-rating-star--imdb ratingGroup--imdb-rating')

    # Extract titles from title elements
ratings = [rating.text.strip() for rating in rating[:50]]

dataframe = {
    "Titles" : titles,
    "Ratings" : ratings,
}

df = pd.DataFrame(dataframe)
print(df)
df

                                  Titles Ratings
0   1Ramayana: The Legend of Prince Rama     9.2
1                             212th Fail     8.9
2                               3Nayakan     8.7
3                              4Gol Maal     8.5
4                            5Anbe Sivam     8.6
5            6Rocketry: The Nambi Effect     8.7
6                           7777 Charlie     8.7
7                     8Pariyerum Perumal     8.7
8                                 9#Home     8.8
9                     10Manichitrathazhu     8.7
10                            113 Idiots     8.4
11                         12Apur Sansar     8.4
12                            13Kireedam     8.9
13                   14C/O Kancharapalem     8.8
14                     15Soorarai Pottru     8.7
15                   16Kumbalangi Nights     8.5
16                        17Black Friday     8.4
17                           18Sandesham     9.0
18                            19Jai Bhim     8.7
19                              20Jersey     8.5
20                    21Taare Zameen Par     8.3
21                     22Laapataa Ladies     8.5
22                         23Maya Bazaar     9.1
23                                  2496     8.5
24                           25Natsamrat     8.8
25                              26Dangal     8.3
26                              27Kaithi     8.4
27                          28Sita Ramam     8.5
28                          29Drishyam 2     8.4
29                          30Visaaranai     8.4
30                        31Thevar Magan     8.7
31                              32Asuran     8.4
32                        33Nadodikkattu     8.8
33                          34Thalapathi     8.5
34                 35Sarpatta Parambarai     8.5
35                            36Drishyam     8.3
36                        37Thani Oruvan     8.4
37                38Nuvvu Naaku Nachchav     8.8
38                             39Anniyan     8.3
39                        40Vada Chennai     8.4
40                  41Jaane Bhi Do Yaaro     8.3
41                   42Khosla Ka Ghosla!     8.2
42                            43Ratsasan     8.3
43                             44Peranbu     8.7
44                           45Aparajito     8.2
45                        46Sardar Udham     8.4
46                      47Bangalore Days     8.3
47                           48Devasuram     8.7
48                              49Premam     8.3
49                               50Satya     8.3

                                  Titles Ratings
0   1Ramayana: The Legend of Prince Rama     9.2
1                             212th Fail     8.9
2                               3Nayakan     8.7
3                              4Gol Maal     8.5
4                            5Anbe Sivam     8.6
5            6Rocketry: The Nambi Effect     8.7
6                           7777 Charlie     8.7
7                     8Pariyerum Perumal     8.7
8                                 9#Home     8.8
9                     10Manichitrathazhu     8.7
10                            113 Idiots     8.4
11                         12Apur Sansar     8.4
12                            13Kireedam     8.9
13                   14C/O Kancharapalem     8.8
14                     15Soorarai Pottru     8.7
15                   16Kumbalangi Nights     8.5
16                        17Black Friday     8.4
17                           18Sandesham     9.0
18                            19Jai Bhim     8.7
19                              20Jersey     8.5
20                    21Taare Zameen Par     8.3
21                     22Laapataa Ladies     8.5
22                         23Maya Bazaar     9.1
23                                  2496     8.5
24                           25Natsamrat     8.8
25                              26Dangal     8.3
26                              27Kaithi     8.4
27                          28Sita Ramam     8.5
28                          29Drishyam 2     8.4
29                          30Visaaranai     8.4
30                        31Thevar Magan     8.7
31                              32Asuran     8.4
32                        33Nadodikkattu     8.8
33                          34Thalapathi     8.5
34                 35Sarpatta Parambarai     8.5
35                            36Drishyam     8.3
36                        37Thani Oruvan     8.4
37                38Nuvvu Naaku Nachchav     8.8
38                             39Anniyan     8.3
39                        40Vada Chennai     8.4
40                  41Jaane Bhi Do Yaaro     8.3
41                   42Khosla Ka Ghosla!     8.2
42                            43Ratsasan     8.3
43                             44Peranbu     8.7
44                           45Aparajito     8.2
45                        46Sardar Udham     8.4
46                      47Bangalore Days     8.3
47                           48Devasuram     8.7
48                              49Premam     8.3
49                               50Satya     8.3

## QUESTION 4

In [12]:
# from bs4 import BeautifulSoup
# import requests
# import pandas as pd
# page = requests.get ('https://www.presidentofindia.gov.in/index.php/former-presidents')
# soup = BeautifulSoup(page.content,'html.parser')
# header_tages =  soup.find_all('div',class_= 'desc-sec')

# presidents = []
# for president in header_tages:
#     name = president.find('h3').text.strip()
#     term = president.find('h5').text.strip()
#     presidents.append({'Name': name, 'Term': term})

# # Create a Pandas DataFrame from the extracted data
# df = pd.DataFrame(presidents)

# # Display the DataFrame
# df

from bs4 import BeautifulSoup
import requests
import pandas as pd

def scrap(link, class_):
    page = requests.get(link)
    soup = BeautifulSoup(page.content, 'html.parser')
    header_tags = soup.find_all(class_=class_)

    presidents = []
    for president in header_tags:
        name = president.find('h3').text.strip()
        term = president.find('h5').text.strip()
        presidents.append({'Name': name, 'Term': term})
    
    df = pd.DataFrame(presidents)
    return df

link = "https://www.presidentofindia.gov.in/index.php/former-presidents"
class_ = "desc-sec"
df = scrap(link, class_)
print(df)
df

                            Name                     Term
0           Shri Ram Nath Kovind  14th President of India
1          Shri Pranab Mukherjee  13th President of India
2   Smt Pratibha Devisingh Patil  12th President of India
3         DR. A.P.J. Abdul Kalam  11th President of India
4           Shri K. R. Narayanan  10th President of India
5        Dr Shankar Dayal Sharma  9th  President of India
6            Shri R Venkataraman   8th President of India
7               Giani Zail Singh   7th President of India
8      Shri Neelam Sanjiva Reddy   6th President of India
9       Dr. Fakhruddin Ali Ahmed   5th President of India
10  Shri Varahagiri Venkata Giri   4th President of India
11              Dr. Zakir Husain   3rd President of India
12  Dr. Sarvepalli Radhakrishnan   2nd President of India
13           Dr. Rajendra Prasad   1st President of India

                            Name                     Term
0           Shri Ram Nath Kovind  14th President of India
1          Shri Pranab Mukherjee  13th President of India
2   Smt Pratibha Devisingh Patil  12th President of India
3         DR. A.P.J. Abdul Kalam  11th President of India
4           Shri K. R. Narayanan  10th President of India
5        Dr Shankar Dayal Sharma  9th  President of India
6            Shri R Venkataraman   8th President of India
7               Giani Zail Singh   7th President of India
8      Shri Neelam Sanjiva Reddy   6th President of India
9       Dr. Fakhruddin Ali Ahmed   5th President of India
10  Shri Varahagiri Venkata Giri   4th President of India
11              Dr. Zakir Husain   3rd President of India
12  Dr. Sarvepalli Radhakrishnan   2nd President of India
13           Dr. Rajendra Prasad   1st President of India

## QUESTION 5

## A

In [13]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException

def scrape_icc_team_rankings(url):
    driver = webdriver.Chrome()
    
    driver.get(url)
    

    WebDriverWait(driver, 10).until(
        EC.presence_of_element_located((By.CLASS_NAME, 'si-body'))
    )
    
   
    team_names = []
    matches = []
    points = []
    ratings = []
    rows = driver.find_elements(By.XPATH, '//div[@class="si-table-row"]')
    
    for row in rows:
        try:
            team_name = row.find_element(By.XPATH, './/h3[@class="si-team-name"]/span[@class="si-fname si-text"]').text
            match = row.find_element(By.XPATH, './/div[@class="si-table-data si-matches"]/span[@class="si-text"]').text
            point = row.find_element(By.XPATH, './/div[@class="si-table-data si-pts"]/span[@class="si-text"]').text
            rating = row.find_element(By.XPATH, './/div[@class="si-table-data si-rating"]/span[@class="si-text"]').text
            
            team_names.append(team_name)
            matches.append(match)
            points.append(point)
            ratings.append(rating)
        except NoSuchElementException as e:
            print("Exception raised: ", e)
    driver.quit()
    data = {
        'Team': team_names,
        'Matches': matches,
        'Points': points,
        'Rating': ratings
    }
    df = pd.DataFrame(data)
    
    return df
url = 'https://www.icc-cricket.com/rankings/team-rankings/mens/odi'
df = scrape_icc_team_rankings(url)
print(df)

Exception raised:  Message: no such element: Unable to locate element: {"method":"xpath","selector":".//h3[@class="si-team-name"]/span[@class="si-fname si-text"]"}
  (Session info: chrome=126.0.6478.63); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF71E77EEA2+31554]
	(No symbol) [0x00007FF71E6F7ED9]
	(No symbol) [0x00007FF71E5B872A]
	(No symbol) [0x00007FF71E608434]
	(No symbol) [0x00007FF71E60853C]
	(No symbol) [0x00007FF71E5FBBAC]
	(No symbol) [0x00007FF71E62D06F]
	(No symbol) [0x00007FF71E5FBA76]
	(No symbol) [0x00007FF71E62D240]
	(No symbol) [0x00007FF71E64C977]
	(No symbol) [0x00007FF71E62CDD3]
	(No symbol) [0x00007FF71E5FA33B]
	(No symbol) [0x00007FF71E5FAED1]
	GetHandleVerifier [0x00007FF71EA88B1D+3217341]
	GetHandleVerifier [0x00007FF71EAD5AE3+3532675]
	GetHandleVerifier [0x00007FF71EACB0E0+3489152]
	GetHandleVerifier [0x00007FF71E82E776+750614]
	(No symbol) [0x00007FF71E70375F]
	(No symbol) [0x00007FF71E6FEB14]
	(No symbol) [0x00007FF71E6FECA2]
	(No symbol) [0x00007FF71E6EE16F]
	BaseThreadInitThunk [0x00007FF9C56E257D+29]
	RtlUserThreadStart [0x00007FF9C5F6AF28+40]

            Team Matches Points Rating
0          INDIA      42   5117    122
1      AUSTRALIA      34   3936    116
2   SOUTH AFRICA      30   3357    112
3       PAKISTAN      26   2762    106
4    NEW ZEALAND      33   3349    101
5        ENGLAND      28   2672     95
6      SRI LANKA      47   4363     93
7     BANGLADESH      40   3453     86
8    AFGHANISTAN      31   2477     80
9    WEST INDIES      32   2205     69
10       IRELAND      22   1091     50
11      ZIMBABWE      24   1181     49
12      SCOTLAND      25   1207     48
13   NETHERLANDS      34   1482     44
14        CANADA       9    320     36
15       NAMIBIA      20    711     36
16         NEPAL      35   1095     31
17          OMAN      21    509     24
18           USA      20    410     21
19           UAE      30    345     12

## B

In [14]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException

def scrape_icc_batting_rankings(url):
    # Set up the WebDriver
    driver = webdriver.Chrome()
    
    # Open the ICC batting rankings page
    driver.get(url)
    
    # Wait for the table to load
    WebDriverWait(driver, 10).until(
        EC.presence_of_element_located((By.CLASS_NAME, 'si-body'))
    )
    
    # Lists to store the scraped data
    player_names = []
    teams = []
    ratings = []
    
    # Locate the table rows containing the player data
    rows = driver.find_elements(By.XPATH, '//div[@class="si-table-row"]')
    
    # Loop through each row and extract the data
    for row in rows[:12]:
        try:
            player_name = row.find_element(By.XPATH, './/a[@class="si-player-name-wrap"]/span[@class="si-text si-fname"]').text
            team = row.find_element(By.XPATH, './/h3[@class="si-team-name"]/span[@class="si-fname si-text"]').text
            rating = row.find_element(By.XPATH, './/div[@class="si-table-data si-rating"]/span[@class="si-text"]').text
            
            player_names.append(player_name)
            teams.append(team)
            ratings.append(rating)
        except NoSuchElementException as e:
            print("Exception raised: ", e)
    
    # Close the WebDriver
    driver.quit()
    
    # Create a DataFrame from the scraped data
    data = {
        'Name': player_names,
        'Team': teams,
        'Rating': ratings
    }
    df = pd.DataFrame(data)
    
    return df

# Example usage
url = 'https://www.icc-cricket.com/rankings/batting/mens/odi'
df = scrape_icc_batting_rankings(url)
print(df)

Exception raised:  Message: no such element: Unable to locate element: {"method":"xpath","selector":".//a[@class="si-player-name-wrap"]/span[@class="si-text si-fname"]"}
  (Session info: chrome=126.0.6478.63); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF71E77EEA2+31554]
	(No symbol) [0x00007FF71E6F7ED9]
	(No symbol) [0x00007FF71E5B872A]
	(No symbol) [0x00007FF71E608434]
	(No symbol) [0x00007FF71E60853C]
	(No symbol) [0x00007FF71E5FBBAC]
	(No symbol) [0x00007FF71E62D06F]
	(No symbol) [0x00007FF71E5FBA76]
	(No symbol) [0x00007FF71E62D240]
	(No symbol) [0x00007FF71E64C977]
	(No symbol) [0x00007FF71E62CDD3]
	(No symbol) [0x00007FF71E5FA33B]
	(No symbol) [0x00007FF71E5FAED1]
	GetHandleVerifier [0x00007FF71EA88B1D+3217341]
	GetHandleVerifier [0x00007FF71EAD5AE3+3532675]
	GetHandleVerifier [0x00007FF71EACB0E0+3489152]
	GetHandleVerifier [0x00007FF71E82E776+750614]
	(No symbol) [0x00007FF71E70375F]
	(No symbol) [0x00007FF71E6FEB14]
	(No symbol) [0x00007FF71E6FECA2]
	(No symbol) [0x00007FF71E6EE16F]
	BaseThreadInitThunk [0x00007FF9C56E257D+29]
	RtlUserThreadStart [0x00007FF9C5F6AF28+40]

        Name          Team Rating
0      Babar                  824
1    Shubman         INDIA    801
2      Virat         INDIA    768
3      Rohit         INDIA    746
4      Harry       IRELAND    746
5      Daryl   NEW ZEALAND    728
6      David     AUSTRALIA    723
7     Pathum     SRI LANKA    711
8      Dawid       ENGLAND    707
9     Rassie  SOUTH AFRICA    701
10  Heinrich  SOUTH AFRICA    697

## C

In [15]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException

def scrape_icc_bowling_rankings(url):
    driver = webdriver.Chrome()
    
   
    driver.get(url)
    
   
    WebDriverWait(driver, 10).until(
        EC.presence_of_element_located((By.CLASS_NAME, 'si-body'))
    )
    
    player_names = []
    teams = []
    ratings = []
    
    rows = driver.find_elements(By.XPATH, '//div[@class="si-table-row"]')
    
    for row in rows[:12]:
        try:
            player_name = row.find_element(By.XPATH, './/a[@class="si-player-name-wrap"]/span[@class="si-text si-fname"]').text
            team = row.find_element(By.XPATH, './/h3[@class="si-team-name"]/span[@class="si-fname si-text"]').text
            rating = row.find_element(By.XPATH, './/div[@class="si-table-data si-rating"]/span[@class="si-text"]').text
            
            player_names.append(player_name)
            teams.append(team)
            ratings.append(rating)
        except NoSuchElementException as e:
            print("Exception raised: ", e)
    
    driver.quit()
    
    data = {
        'Name': player_names,
        'Team': teams,
        'Rating': ratings
    }
    df = pd.DataFrame(data)
    
    return df
    
url = 'https://www.icc-cricket.com/rankings/bowling/mens/odi'
df = scrape_icc_bowling_rankings(url)
print(df)

Exception raised:  Message: no such element: Unable to locate element: {"method":"xpath","selector":".//a[@class="si-player-name-wrap"]/span[@class="si-text si-fname"]"}
  (Session info: chrome=126.0.6478.63); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF71E77EEA2+31554]
	(No symbol) [0x00007FF71E6F7ED9]
	(No symbol) [0x00007FF71E5B872A]
	(No symbol) [0x00007FF71E608434]
	(No symbol) [0x00007FF71E60853C]
	(No symbol) [0x00007FF71E5FBBAC]
	(No symbol) [0x00007FF71E62D06F]
	(No symbol) [0x00007FF71E5FBA76]
	(No symbol) [0x00007FF71E62D240]
	(No symbol) [0x00007FF71E64C977]
	(No symbol) [0x00007FF71E62CDD3]
	(No symbol) [0x00007FF71E5FA33B]
	(No symbol) [0x00007FF71E5FAED1]
	GetHandleVerifier [0x00007FF71EA88B1D+3217341]
	GetHandleVerifier [0x00007FF71EAD5AE3+3532675]
	GetHandleVerifier [0x00007FF71EACB0E0+3489152]
	GetHandleVerifier [0x00007FF71E82E776+750614]
	(No symbol) [0x00007FF71E70375F]
	(No symbol) [0x00007FF71E6FEB14]
	(No symbol) [0x00007FF71E6FECA2]
	(No symbol) [0x00007FF71E6EE16F]
	BaseThreadInitThunk [0x00007FF9C56E257D+29]
	RtlUserThreadStart [0x00007FF9C5F6AF28+40]

        Name         Team Rating
0     Keshav                 716
1       Josh    AUSTRALIA    688
2       Adam    AUSTRALIA    686
3   Mohammed        INDIA    678
4    Jasprit        INDIA    665
5   Mohammad  AFGHANISTAN    656
6    Shaheen     PAKISTAN    650
7    Kuldeep        INDIA    645
8      Trent  NEW ZEALAND    643
9    Bernard      NAMIBIA    642
10    Rashid  AFGHANISTAN    634

## QUESTION 6

## A

In [16]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException

def scrape_icc_womens_odi_team_rankings(url):
    # Set up the WebDriver
    driver = webdriver.Chrome()
    driver.get(url)
    WebDriverWait(driver, 10).until(
        EC.presence_of_element_located((By.CLASS_NAME, 'si-body'))
    )
    
    team_names = []
    matches = []
    points = []
    ratings = []
    rows = driver.find_elements(By.XPATH, '//div[@class="si-table-row"]')
    for row in rows:
        try:
            team_name = row.find_element(By.XPATH, './/h3[@class="si-team-name"]/span[@class="si-fname si-text"]').text
            match = row.find_element(By.XPATH, './/div[@class="si-table-data si-matches"]/span[@class="si-text"]').text
            point = row.find_element(By.XPATH, './/div[@class="si-table-data si-pts"]/span[@class="si-text"]').text
            rating = row.find_element(By.XPATH, './/div[@class="si-table-data si-rating"]/span[@class="si-text"]').text
            
            team_names.append(team_name)
            matches.append(match)
            points.append(point)
            ratings.append(rating)
        except NoSuchElementException as e:
            print("Exception raised: ", e)
    driver.quit()
    data = {
        'Team': team_names,
        'Matches': matches,
        'Points': points,
        'Rating': ratings
    }
    df = pd.DataFrame(data)
    
    return df
url = 'https://www.icc-cricket.com/rankings/team-rankings/womens/odi'
df = scrape_icc_womens_odi_team_rankings(url)
print(df)

Exception raised:  Message: no such element: Unable to locate element: {"method":"xpath","selector":".//h3[@class="si-team-name"]/span[@class="si-fname si-text"]"}
  (Session info: chrome=126.0.6478.63); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF71E77EEA2+31554]
	(No symbol) [0x00007FF71E6F7ED9]
	(No symbol) [0x00007FF71E5B872A]
	(No symbol) [0x00007FF71E608434]
	(No symbol) [0x00007FF71E60853C]
	(No symbol) [0x00007FF71E5FBBAC]
	(No symbol) [0x00007FF71E62D06F]
	(No symbol) [0x00007FF71E5FBA76]
	(No symbol) [0x00007FF71E62D240]
	(No symbol) [0x00007FF71E64C977]
	(No symbol) [0x00007FF71E62CDD3]
	(No symbol) [0x00007FF71E5FA33B]
	(No symbol) [0x00007FF71E5FAED1]
	GetHandleVerifier [0x00007FF71EA88B1D+3217341]
	GetHandleVerifier [0x00007FF71EAD5AE3+3532675]
	GetHandleVerifier [0x00007FF71EACB0E0+3489152]
	GetHandleVerifier [0x00007FF71E82E776+750614]
	(No symbol) [0x00007FF71E70375F]
	(No symbol) [0x00007FF71E6FEB14]
	(No symbol) [0x00007FF71E6FECA2]
	(No symbol) [0x00007FF71E6EE16F]
	BaseThreadInitThunk [0x00007FF9C56E257D+29]
	RtlUserThreadStart [0x00007FF9C5F6AF28+40]

            Team Matches Points Rating
0      AUSTRALIA      30   4889    163
1        ENGLAND      28   3598    129
2   SOUTH AFRICA      31   3403    110
3          INDIA      23   2330    101
4      SRI LANKA      14   1368     98
5    NEW ZEALAND      27   2604     96
6    WEST INDIES      26   2241     86
7     BANGLADESH      20   1574     79
8       THAILAND      11    753     68
9       PAKISTAN      32   2072     65
10       IRELAND      19    675     36
11      ZIMBABWE      13    172     13
12   NETHERLANDS       9     94     10

## B

In [17]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException

def scrape_icc_womens_odi_batting_rankings(url):
    # Set up the WebDriver
    driver = webdriver.Chrome()
    
    driver.get(url)
    
 
    WebDriverWait(driver, 10).until(
        EC.presence_of_element_located((By.CLASS_NAME, 'si-body'))
    )
    
   
    player_names = []
    teams = []
    ratings = []
    

    rows = driver.find_elements(By.XPATH, '//div[@class="si-table-row"]')
    

    for row in rows[:12]:
        try:
            player_name = row.find_element(By.XPATH, './/a[@class="si-player-name-wrap"]/span[@class="si-text si-fname"]').text
            team = row.find_element(By.XPATH, './/h3[@class="si-team-name"]/span[@class="si-fname si-text"]').text
            rating = row.find_element(By.XPATH, './/div[@class="si-table-data si-rating"]/span[@class="si-text"]').text
            
            player_names.append(player_name)
            teams.append(team)
            ratings.append(rating)
        except NoSuchElementException as e:
            print("Exception raised: ", e)

    driver.quit()
 
    data = {
        'Name': player_names,
        'Team': teams,
        'Rating': ratings
    }
    df = pd.DataFrame(data)
    
    return df
url = 'https://www.icc-cricket.com/rankings/batting/womens/odi'
df = scrape_icc_womens_odi_batting_rankings(url)
print(df)

Exception raised:  Message: no such element: Unable to locate element: {"method":"xpath","selector":".//a[@class="si-player-name-wrap"]/span[@class="si-text si-fname"]"}
  (Session info: chrome=126.0.6478.63); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF71E77EEA2+31554]
	(No symbol) [0x00007FF71E6F7ED9]
	(No symbol) [0x00007FF71E5B872A]
	(No symbol) [0x00007FF71E608434]
	(No symbol) [0x00007FF71E60853C]
	(No symbol) [0x00007FF71E5FBBAC]
	(No symbol) [0x00007FF71E62D06F]
	(No symbol) [0x00007FF71E5FBA76]
	(No symbol) [0x00007FF71E62D240]
	(No symbol) [0x00007FF71E64C977]
	(No symbol) [0x00007FF71E62CDD3]
	(No symbol) [0x00007FF71E5FA33B]
	(No symbol) [0x00007FF71E5FAED1]
	GetHandleVerifier [0x00007FF71EA88B1D+3217341]
	GetHandleVerifier [0x00007FF71EAD5AE3+3532675]
	GetHandleVerifier [0x00007FF71EACB0E0+3489152]
	GetHandleVerifier [0x00007FF71E82E776+750614]
	(No symbol) [0x00007FF71E70375F]
	(No symbol) [0x00007FF71E6FEB14]
	(No symbol) [0x00007FF71E6FECA2]
	(No symbol) [0x00007FF71E6EE16F]
	BaseThreadInitThunk [0x00007FF9C56E257D+29]
	RtlUserThreadStart [0x00007FF9C5F6AF28+40]

           Name                Team Rating
0       Natalie                        772
1       Chamari     SRI LANKA WOMEN    768
2        Smriti         INDIA WOMEN    715
3          Beth     AUSTRALIA WOMEN    704
4         Laura  SOUTH AFRICA WOMEN    702
5        Ellyse     AUSTRALIA WOMEN    689
6        Alyssa     AUSTRALIA WOMEN    663
7        Hayley   WEST INDIES WOMEN    660
8     Marizanne  SOUTH AFRICA WOMEN    654
9        Sophie   NEW ZEALAND WOMEN    637
10  Harmanpreet         INDIA WOMEN    625

## C

In [18]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException

def scrape_icc_womens_odi_allrounder_rankings(url):
    # Set up the WebDriver
    driver = webdriver.Chrome()
    
    # Open the ICC women's ODI all-rounder rankings page
    driver.get(url)
    
    # Wait for the table to load
    WebDriverWait(driver, 10).until(
        EC.presence_of_element_located((By.CLASS_NAME, 'si-body'))
    )
    
    # Lists to store the scraped data
    player_names = []
    teams = []
    ratings = []
    
    # Locate the table rows containing the player data
    rows = driver.find_elements(By.XPATH, '//div[@class="si-table-row"]')
    
    # Loop through each row and extract the data
    for row in rows[:12]:
        try:
            player_name = row.find_element(By.XPATH, './/a[@class="si-player-name-wrap"]/span[@class="si-text si-fname"]').text
            team = row.find_element(By.XPATH, './/h3[@class="si-team-name"]/span[@class="si-fname si-text"]').text
            rating = row.find_element(By.XPATH, './/div[@class="si-table-data si-rating"]/span[@class="si-text"]').text
            
            player_names.append(player_name)
            teams.append(team)
            ratings.append(rating)
        except NoSuchElementException as e:
            print("Exception raised: ", e)
    
    # Close the WebDriver
    driver.quit()
    
    # Create a DataFrame from the scraped data
    data = {
        'Name': player_names,
        'Team': teams,
        'Rating': ratings
    }
    df = pd.DataFrame(data)
    
    return df

# Example usage
url = 'https://www.icc-cricket.com/rankings/allrounder/womens/odi'
df = scrape_icc_womens_odi_allrounder_rankings(url)
print(df)

Exception raised:  Message: no such element: Unable to locate element: {"method":"xpath","selector":".//a[@class="si-player-name-wrap"]/span[@class="si-text si-fname"]"}
  (Session info: chrome=126.0.6478.63); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF71E77EEA2+31554]
	(No symbol) [0x00007FF71E6F7ED9]
	(No symbol) [0x00007FF71E5B872A]
	(No symbol) [0x00007FF71E608434]
	(No symbol) [0x00007FF71E60853C]
	(No symbol) [0x00007FF71E5FBBAC]
	(No symbol) [0x00007FF71E62D06F]
	(No symbol) [0x00007FF71E5FBA76]
	(No symbol) [0x00007FF71E62D240]
	(No symbol) [0x00007FF71E64C977]
	(No symbol) [0x00007FF71E62CDD3]
	(No symbol) [0x00007FF71E5FA33B]
	(No symbol) [0x00007FF71E5FAED1]
	GetHandleVerifier [0x00007FF71EA88B1D+3217341]
	GetHandleVerifier [0x00007FF71EAD5AE3+3532675]
	GetHandleVerifier [0x00007FF71EACB0E0+3489152]
	GetHandleVerifier [0x00007FF71E82E776+750614]
	(No symbol) [0x00007FF71E70375F]
	(No symbol) [0x00007FF71E6FEB14]
	(No symbol) [0x00007FF71E6FECA2]
	(No symbol) [0x00007FF71E6EE16F]
	BaseThreadInitThunk [0x00007FF9C56E257D+29]
	RtlUserThreadStart [0x00007FF9C5F6AF28+40]

         Name                Team Rating
0   Marizanne                        425
1      Hayley   WEST INDIES WOMEN    410
2     Natalie       ENGLAND WOMEN    374
3      Amelia   NEW ZEALAND WOMEN    365
4    Ashleigh     AUSTRALIA WOMEN    364
5      Deepti         INDIA WOMEN    356
6      Sophie   NEW ZEALAND WOMEN    256
7      Ellyse     AUSTRALIA WOMEN    252
8     Chamari     SRI LANKA WOMEN    240
9        Nida      PAKISTAN WOMEN    212
10      Chloe  SOUTH AFRICA WOMEN    199

## QUESTION 7

In [20]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def scrape_cnbc_world_news(url):
    
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')

    writers = []
    for writer in soup.find_all('span', class_='RiverByline-authorByline'):
        writers.append(writer.text.strip())

    titles = []
    for title in soup.find_all('div', class_='RiverHeadline-headline RiverHeadline-hasThumbnail'):
        titles.append(title.text.strip())

    times = []
    for time in soup.find_all('span', class_='RiverByline-datePublished'):
        times.append(time.text.strip())

    max_len = max(len(writers), len(titles), len(times))
    writers.extend([None] * (max_len - len(writers)))
    titles.extend([None] * (max_len - len(titles)))
    times.extend([None] * (max_len - len(times)))

    df = pd.DataFrame({
        'Writer': writers,
        'Title': titles,
        'Time': times
    })
    
    return df
url = 'https://www.cnbc.com/world/?region=world'
df = scrape_cnbc_world_news(url)
print(df)
df

                Writer                                              Title  \
0          Kif Leswing  Nvidia slides 13% in three days after briefly ...
1          Kif Leswing  These ETFs have beaten the S&P 500 for five ye...
2           Ganesh Rao  Oracle warns that a TikTok ban would hurt busi...
3           Ganesh Rao  U.S. probing China Telecom, China Mobile over ...
4         Jordan Novet  Stock futures are little changed after Nasdaq ...
5         Jordan Novet  CNBC Daily Open: Dow jumps as investors rotate...
6       Samantha Subin  This stock is 'one of the cheapest ways' to pl...
7       Samantha Subin  34-year-old making $400,000 at TikTok: Being l...
8             Abid Ali  China employing 'gray zone tactics' at contest...
9             Abid Ali  Ferrari CEO says all-electric model preserves ...
10         Weizhen Tan  Julian Assange has reached a plea deal with th...
11         Weizhen Tan  Fast fashion retailer Shein confidentially fil...
12        Robert Frank  Dow closes more than 250 points higher as inve...
13        Robert Frank  China wants EU to scrap planned higher tariffs...
14  Gabrielle Fonrouge  Southeast Asia is a top choice for firms diver...
15  Gabrielle Fonrouge  Singaporean swimmer Toh Wei Soong hopes for a ...
16  Hakyung Kim,Yun Li    Bitcoin tumbles below $60,000 to start the week
17  Hakyung Kim,Yun Li  South Korea plant fire kills 22 people after l...
18       Sheila Chiang  OpenAI reverses controversial stock sale polic...
19       Sheila Chiang  Princess Anne sustains minor injuries and a co...
20       Sheila Chiang                                               None
21       Sheila Chiang                                               None
22          Vivien Soo                                               None
23          Vivien Soo                                               None
24      Tanaya Macheel                                               None
25      Tanaya Macheel                                               None
26   Ruxandra Iordache                                               None
27   Ruxandra Iordache                                               None
28        Hayden Field                                               None
29        Hayden Field                                               None

           Time
0    41 min ago
1    41 min ago
2   5 hours ago
3   5 hours ago
4          None
5          None
6          None
7          None
8          None
9          None
10         None
11         None
12         None
13         None
14         None
15         None
16         None
17         None
18         None
19         None
20         None
21         None
22         None
23         None
24         None
25         None
26         None
27         None
28         None
29         None

,Writer,Title,Time
0,Kif Leswing,Nvidia slides 13% in three days after briefly ...,41 min ago
1,Kif Leswing,These ETFs have beaten the S&P 500 for five ye...,41 min ago
2,Ganesh Rao,Oracle warns that a TikTok ban would hurt busi...,5 hours ago
3,Ganesh Rao,"U.S. probing China Telecom, China Mobile over ...",5 hours ago
4,Jordan Novet,Stock futures are little changed after Nasdaq ...,None
5,Jordan Novet,CNBC Daily Open: Dow jumps as investors rotate...,None
6,Samantha Subin,This stock is 'one of the cheapest ways' to pl...,None
7,Samantha Subin,"34-year-old making $400,000 at TikTok: Being l...",None
8,Abid Ali,China employing 'gray zone tactics' at contest...,None
9,Abid Ali,Ferrari CEO says all-electric model preserves ...,None
10,Weizhen Tan,Julian Assange has reached a plea deal with th...,None
11,Weizhen Tan,Fast fashion retailer Shein confidentially fil...,None
12,Robert Frank,Dow closes more than 250 points higher as inve...,None
13,Robert Frank,China wants EU to scrap planned higher tariffs...,None
14,Gabrielle Fonrouge,Southeast Asia is a top choice for firms diver...,None
15,Gabrielle Fonrouge,Singaporean swimmer Toh Wei Soong hopes for a ...,None
16,"Hakyung Kim,Yun Li","Bitcoin tumbles below $60,000 to start the week",None
17,"Hakyung Kim,Yun Li",South Korea plant fire kills 22 people after l...,None
18,Sheila Chiang,OpenAI reverses controversial stock sale polic...,None
19,Sheila Chiang,Princess Anne sustains minor injuries and a co...,None
20,Sheila Chiang,None,None
21,Sheila Chiang,None,None
22,Vivien Soo,None,None
23,Vivien Soo,None,None
24,Tanaya Macheel,None,None
25,Tanaya Macheel,None,None
26,Ruxandra Iordache,None,None
27,Ruxandra Iordache,None,None
28,Hayden Field,None,None
29,Hayden Field,None,None

## QUESTION 8 - LINK INVALID OR RIDIRECTING

## QUESTION 9

In [23]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def scrape_dineout_buffet_specials(url):
    # Fetch the webpage content
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')

    restaurant_names = [restaurant.text for restaurant in soup.find_all('a', class_='restnt-name ellipsis')]
    locations = [location.text for location in soup.find_all('div', class_='restnt-loc ellipsis')]
    ratings = [rating.text for rating in soup.find_all('div', class_='restnt-rating rating-4')]
    images = [image['data-src'] for image in soup.find_all('img', class_='no-img')]
    cuisines = [cuisine.text for cuisine in soup.find_all('a', attrs={'data-w-onclick': 'stopClickPropagation|w1-restarant'})]

    max_len = max(len(restaurant_names), len(locations), len(ratings), len(images), len(cuisines))
    restaurant_names.extend([None] * (max_len - len(restaurant_names)))
    locations.extend([None] * (max_len - len(locations)))
    ratings.extend([None] * (max_len - len(ratings)))
    images.extend([None] * (max_len - len(images)))
    cuisines.extend([None] * (max_len - len(cuisines)))
    
    df = pd.DataFrame({
        'Restaurant Name': restaurant_names,
        'Location': locations,
        'Rating': ratings,
        'Image': images,
        'Cuisine': cuisines
    })
    
    return df
url = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'
df = scrape_dineout_buffet_specials(url)
print(df.head(6))
df.head(6)

                    Restaurant Name  \
0                 Castle's Barbeque
1                        Cafe Knosh
2                       India Grill
3              The Barbeque Company
4                    Delhi Barbeque
5  The Monarch - Bar Be Que Village

                                            Location Rating  \
0                     Connaught Place, Central Delhi      4
1  The Leela Ambience Convention Hotel,Shahdara, ...    4.3
2               Hilton Garden Inn,Saket, South Delhi    3.9
3                 Gardens Galleria,Sector 38A, Noida    3.9
4     Taurus Sarovar Portico,Mahipalpur, South Delhi    3.7
5  Indirapuram Habitat Centre,Indirapuram, Ghaziabad    3.8

                                               Image       Cuisine
0  https://im1.dineout.co.in/images/uploads/resta...       Chinese
1  https://im1.dineout.co.in/images/uploads/resta...  North Indian
2  https://im1.dineout.co.in/images/uploads/resta...       Italian
3  https://im1.dineout.co.in/images/uploads/resta...   Continental
4  https://im1.dineout.co.in/images/uploads/resta...  North Indian
5  https://im1.dineout.co.in/images/uploads/resta...       Italian

,Restaurant Name,Location,Rating,Image,Cuisine
0,Castle's Barbeque,"Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...,Chinese
1,Cafe Knosh,"The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...,North Indian
2,India Grill,"Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...,Italian
3,The Barbeque Company,"Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...,Continental
4,Delhi Barbeque,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...,North Indian
5,The Monarch - Bar Be Que Village,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...,Italian